<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>FoodFy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <header>
        <div>
            <a href="/"><img src="logo.png" alt=""></a>
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
    <footer>
            <h5>Todos direitos reservados, receitas Foodfy.</h5>
    </footer>
</body>


</html>