{% extends "layout.njk" %}
{%  block content %}

    <div class="acessadas">
        <div class="content">
            <div class="card" id="burger">
                <img src="/burger.png" alt="hamburguer">
                <h3>Triplo bacon burger</h3>
                <h4>por Jorge Relato</h4>
            </div>
        </div>
        
        <div class="content">
            <div class="card" id="pizza">
                <img src="/pizza.png" alt="pizza">
                <h3>Pizza 4 estações</h3>
                <h4>por Fabiana Melo</h4>
            </div>
        </div>
        
        <div class="content">
            <div class="card" id="espaguete">
                <img src="/espaguete.png" alt="espaguete">
                <h3>Espaguete ao alho</h3>
                <h4>por Júlia Kinoto</h4>
            </div>
        </div>
        
        <div class="content">
            <div class="card" id="lasanha">
                <img src="/lasanha.png" alt="lasanha">
                <h3>Lasanha mac n’ cheese</h3>
                <h4>por Juliano Vieira</h4>
            </div>
        </div>

        <div class="content">
            <div class="card" id="doce">
                <img src="/doce.png" alt="docinhos">
                <h3>Docinhos pão-do-céu</h3>
                <h4>por Ricardo Golvea</h4>
            </div>
        </div>

        <div class="content">
            <div class="card" id="asinhas">
                <img src="/asinhas.png" alt="asinhas de frango">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>por Vania Steroski</h4>
            </div>
        </div>

        <div class="content">
            <div class="card" id="burger">
                <img src="/burger.png" alt="hamburguer">
                <h3>Triplo bacon burger</h3>
                <h4>por Jorge Relato</h4>
            </div>
        </div>
    
        <div class="content">
            <div class="card" id="pizza">
                <img src="/pizza.png" alt="pizza">
                <h3>Pizza 4 estações</h3>
                <h4>por Fabiana Melo</h4>
            </div>
            
        </div>
    
        <div class="content">
            <div class="card" id="espaguete">
                <img src="/espaguete.png" alt="espaguete">
                <h3>Espaguete ao alho</h3>
                <h4>por Júlia Kinoto</h4>
            </div>
        </div>
            
        <div class="content">
            <div class="card" id="lasanha">
                <img src="/lasanha.png" alt="lasanha">
                <h3>Lasanha mac n’ cheese</h3>
                <h4>por Juliano Vieira</h4>
            </div>
        </div>
    
        <div class="content">
            <div class="card" id="doce">
                <img src="/doce.png" alt="docinhos">
                <h3>Docinhos pão-do-céu</h3>
                <h4>por Ricardo Golvea</h4>
            </div>
        </div>
    
        <div class="content">
            <div class="card" id="asinhas">
                <img src="/asinhas.png" alt="asinhas de frango">
                <h3>Asinhas de frango ao barbecue</h3>
                <h4>por Vania Steroski</h4>
            </div>
        </div>  
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">    
            <img src="" alt=""/>
            <h3> </h3>
            <h4> </h4>
            <a href="#" class="modal-close">Fechar Modal</p>
        </div>
    </div>
    <script src="scripts.js"></script>
{% endblock content %}}

        
      